<a href="https://colab.research.google.com/github/yusangmin/python_report/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC100%EC%A0%9C_50%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1
문제 1: 리스트의 삭제 다음 리스트에서 400, 500을 삭제하는 코드를 입력하시오. nums = [ 100, 200, 300, 400, 500 ]

In [1]:
nums = [100, 200, 300, 400, 500]
nums.pop()         # 마지막 500 삭제
nums.pop()         # 400 삭제
print(nums)

[100, 200, 300]

# 2
문제 2: <pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하시오.
l = [200, 100, 300]
<pass>
print(l)

In [ ]:
l = [200, 100, 300]
l.insert(2, 10000)  # l의 2번째 뒤에 10000을 삽입
print(l)

[200, 100, 10000, 300]